# QUESTION 1

In [19]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2
b() #here b function is called for the first time, and initially a value is 0, after b function is called the return value is 2 and thus a = 2 
b() #b function is called for the second time, and previous value of a is 2, and now value is a + 2 that is a = 4
b() #b function is called for the third time, and thus the value of a becomes 6 
print(a)

6

# QUESTION 2

In [3]:
import os
def file_length(file_name): #renamed the filename.txt to midterm.py
    if not os.path.exists(file_name): #checks if the file exists
        print("File", file_name, "is not found")
    else:
        file = open(file_name, 'r').readlines() #opens the file and read lines
        contents = len(file)
        print(contents)
file_length("midterm.py")

6

# QUESTION 3

In [18]:
class Marsupial: #Class Marsupial is formed
    def __init__(self): #constructor is defined 
        self.pouch = [] #pouch is defined
    def put_in_pouch(self, item):
        self.pouch.append(item)
    def pouch_contents(self):
        return self.pouch

m = Marsupial() #m = Marsupial is implemented
m.put_in_pouch('doll') #doll is added to the list
m.put_in_pouch('firetruck') #firetruck is added to the list
m.put_in_pouch('kitten') #kitten is added to the list
print(m.pouch_contents()) #printing the contents in the list


class Kangaroo(Marsupial): #subclass of marsupial, kangaroo is defined
    def __init__(self, x, y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({}, {})".format(self.x, self.y)
    
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll') #doll is added to the list
k.put_in_pouch('firetruck') #firetruck is added to the list
k.put_in_pouch('kitten') #kitten is added to the list
print(k.pouch_contents())
k.jump(1,0)  #kangaroo jumps to 1, 0 coordinates
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

# QUESTION 4

In [16]:
def collatz(x):
    while x != 1:
        print(x)
        if x % 2 == 0:
            x = x // 2
        else:
            x = 3 * x + 1
    print(x)
collatz(1)

1

In [17]:
collatz(10)

10
5
16
8
4
2
1

# QUESTION 5

In [14]:
def binary(n):
    if n == 0:
        return 0
    else:
        return n % 2 + 10 * binary(n // 2)
print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

# QUESTION 6

In [6]:
from html.parser import HTMLParser
from urllib.request import urlopen

from bs4 import BeautifulSoup
import requests



class HeadingParser(HTMLParser):
    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
    def handle_starttag(self, tag, attrs):
        if tag in self.headers:
            pass
    def handle_data(self, tag):
        if tag in self.headers:
            pass
    def handle_endtag(self, data):
        pass

infile = open('w3c.html', 'r')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)
soup = BeautifulSoup(content, "html.parser")
print(soup.find('h1').text)
print(soup.find('h2').text)

W3C Mission
Principles

# QUESTION 7

In [20]:
from bs4 import BeautifulSoup, SoupStrainer  # import BeautifulSoup from bs4 import BeautifulSoup, SoupStrainer  
import urllib.request #import urllib.request
import httplib2 # import the httplib2 module


def webdir(url, depth, indent):  # define the function webdir
    print(" " *indent + url) # print the url
    if depth == 0: # if depth is 0, return
        return
    result = [] # create a list to store the urls
    http = httplib2.Http() # create a http object
    status, response = http.request(url) # get the response from the url
    for i in BeautifulSoup(response, parse_only=SoupStrainer('a'), features="html.parser"): # parse the response
        if i.has_attr('href'): # if the response has a href attribute
            if i['href'][:5] == "http:" or i['href'][:5] == "https": # if the href attribute starts with http or https
                result.append(i['href']) # append the href attribute to the list
    
    for urls in result: # for each url in the list
        print(urls) # print the url 
        webdir(urls, depth-1, indent+1) # call the function again with the url, depth - 1, and indent + 1

webdir('http://reed.cs.depaul.edu/', 2, 0) # call the function with the url, depth, and indent

http://reed.cs.depaul.edu/
https://www.cdm.depaul.edu
 https://www.cdm.depaul.edu
http://go.depaul.edu/covid
  http://go.depaul.edu/covid
http://www.depaul.edu
  http://www.depaul.edu
https://my.cdm.depaul.edu/v2
  https://my.cdm.depaul.edu/v2
https://campusconnect.depaul.edu/
  https://campusconnect.depaul.edu/
https://d2l.depaul.edu
  https://d2l.depaul.edu
https://depaul.starfishsolutions.com/starfish-ops
  https://depaul.starfishsolutions.com/starfish-ops
https://academics.depaul.edu/calendar/Pages/default.aspx
  https://academics.depaul.edu/calendar/Pages/default.aspx
https://academics.depaul.edu/calendar/Pages/finals-calendar.aspx
  https://academics.depaul.edu/calendar/Pages/finals-calendar.aspx
https://securelb.imodules.com/s/1906/19/interior.aspx?sid=1906&gid=2&pgid=853&cid=2668
  https://securelb.imodules.com/s/1906/19/interior.aspx?sid=1906&gid=2&pgid=853&cid=2668
https://www.depaul.edu/apply/Pages/default.aspx
  https://www.depaul.edu/apply/Pages/default.aspx
https://securelb.imodules.com/s/1906/19/interior.aspx?sid=1906&gid=2&pgid=853&cid=2668
  https://securelb.imodules.com/s/1906/19/interior.aspx?sid=1906&gid=2&pgid=853&cid=2668
https://www.depaul.edu/apply/Pages/default.aspx
  https://www.depaul.edu/apply/Pages/default.aspx
https://my.cdm.depaul.edu/v2
  https://my.cdm.depaul.edu/v2
https://campusconnect.depaul.edu/
  https://campusconnect.depaul.edu/
https://d2l.depaul.edu
  https://d2l.depaul.edu
https://depaul.starfishsolutions.com/starfish-ops
  https://depaul.starfishsolutions.com/starfish-ops
https://academics.depaul.edu/calendar/Pages/default.aspx
  https://academics.depaul.edu/calendar/Pages/default.aspx
https://academics.depaul.edu/calendar/Pages/finals-calendar.aspx
  https://academics.depaul.edu/calendar/Pages/finals-calendar.aspx
https://www.depaul.edu/apply/Pages/default.aspx
  https://www.depaul.edu/apply/Pages/default.aspx
https://alumni.depaul.edu/GiveNow/Home?id=78
  https://alumni.depaul.edu/GiveNow/Home?id=78
https://vimeo.com/234708656
  https://vimeo.com/234708656
https://resources.depaul.edu/newsline/sections/campus-and-community/Pages/virtual_production.aspx
  https://resources.depaul.edu/newsline/sections/campus-and-community/Pages/virtual_production.aspx
https://www.fox32chicago.com/news/depaul-film-students-using-technology-only-available-in-hollywood
  https://www.fox32chicago.com/news/depaul-film-students-using-technology-only-available-in-hollywood
https://resources.depaul.edu/newsline/sections/campus-and-community/Pages/aguirre-ramaraj-genome.aspx
  https://resources.depaul.edu/newsline/sections/campus-and-community/Pages/aguirre-ramaraj-genome.aspx
https://resources.depaul.edu/newsline/sections/debuzz/Pages/game_design_rankings_2022.aspx
  https://resources.depaul.edu/newsline/sections/debuzz/Pages/game_design_rankings_2022.aspx
https://academics.depaul.edu/calendar/Pages/default.aspx
  https://academics.depaul.edu/calendar/Pages/default.aspx
https://d2l.depaul.edu/
  https://d2l.depaul.edu/
http://www.depaul.edu/apply
  http://www.depaul.edu/apply
http://www.depaul.edu
  http://www.depaul.edu
http://goo.gl/maps/ip5b
  http://goo.gl/maps/ip5b
http://www.facebook.com/CDMDePaul
  http://www.facebook.com/CDMDePaul
http://twitter.com/CDMDePaul
  http://twitter.com/CDMDePaul
https://www.linkedin.com/school/22315245/
  https://www.linkedin.com/school/22315245/
https://www.instagram.com/cdmdepaul/
  https://www.instagram.com/cdmdepaul/
https://my.cdm.depaul.edu/v2
  https://my.cdm.depaul.edu/v2
https://d2l.depaul.edu/
  https://d2l.depaul.edu/
https://campusconnect.depaul.edu/
  https://campusconnect.depaul.edu/
https://securelb.imodules.com/s/1906/19/interior.aspx?sid=1906&gid=2&pgid=853&cid=2668
  https://securelb.imodules.com/s/1906/19/interior.aspx?sid=1906&gid=2&pgid=853&cid=2668

# QUESTION 8

In [53]:
import sqlite3
con = sqlite3.connect('web1.db')
cur = con.cursor()
cur.execute("CREATE TABLE database(City VARCHAR,Country VARCHAR,Season VARCHAR,Temperature FLOAT, Rainfall FLOAT)")

In [54]:
cur.execute("INSERT INTO database VALUES('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO database VALUES('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO database VALUES('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO database VALUES('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO database VALUES('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO database VALUES('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO database VALUES('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO database VALUES('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO database VALUES('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO database VALUES('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO database VALUES('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO database VALUES('Cairo','Egypt','Fall',22.2,4.5)")

In [55]:
cur.execute("SELECT * FROM database")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [57]:
cur.execute("SELECT Temperature FROM database")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [59]:
cur.execute("SELECT DISTINCT City FROM database")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [60]:
cur.execute("SELECT * FROM database WHERE Country='India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [61]:
cur.execute("SELECT * FROM database WHERE Season='Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [62]:

cur.execute("SELECT City,Country,Season FROM database WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [63]:

cur.execute("SELECT City,Country FROM database WHERE Temperature >20 ORDER BY Temperature")
cur.fetchall()

[('Cairo', 'Egypt'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India')]

In [64]:

cur.execute("SELECT SUM(Rainfall) AS Total_anuual_rainfall_Cairo FROM database WHERE City='Cairo'")
cur.fetchall()

[(27.6,)]

In [66]:
cur.execute("SELECT Season,SUM(Rainfall) AS Total_Rainfall FROM database GROUP BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# QUESTION 9

In [7]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

capital = []
for i in range(len(words)):
    capital.append(words[i].upper())
print(capital)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [8]:
lowercase = []
for i in range(len(words)):
    lowercase.append(words[i].lower())
print(lowercase)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [9]:
length = []
for i in range(len(words)):
    length.append(len(words[i]))
print(length)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [12]:
new = []
for i in range(len(words)):
    z = [words[i].upper(), words[i].lower(), len(words[i])]
    new.append(z)
print(new)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [13]:
morethan4 = []
for i in range(len(words)):
    if len(words[i]) >= 4:
        morethan4.append(words[i])
print(morethan4)

['quick', 'brown', 'jumps', 'over', 'lazy']